<!DOCTYPE html>
<html>
<head>
  <title>JAMSESH</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js" %>
  <script src="http://www.youtube.com/player_api"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= @custom_head.html_safe if @custom_head %>
</head>
<body>

<%= yield %>

</body>
</html>
